.info {
  height: 100%;

  @include flex(flex-end);

  .info__panel {
    width: 300px;
    height: 100%;
    padding-top: 40px;

    @include flex(flex-start, center, column);

    .line {
      height: 1px;
      width: 100%;
      border: 1px solid #eee;
      margin: 20px 0 30px 0;
    }

    .action__btn {
      height: 35px;
      width: 206px;
      border-radius: 3px;
      background-color: #8cbc09;
      color: #fff;
      font-weight: 500;
      line-height: 35px;
      text-align: center;
      cursor: pointer;
    }

    .link {
      width: 164px;
      margin-top: 25px;
    }
  }

  .contact__us {
    height: 100%;
    color: #a2a2a2;
    padding-bottom: 30px;
    cursor: pointer;

    @include flex(null, flex-end);
  }
}
